<html>
  <head>
    <link
      rel="stylesheet"
      href="{{  url_for('static', filename='css/index.css')  }}"
    />
  </head>

  <body>
    <div class="container">
      <div class="nav">
        <input type="checkbox" id="nav-check" />
        <div class="nav-header">
          <div class="nav-title">{{ username }}</div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        <div class="nav-links">
          <a
            href="#"
            onclick="handleLeaveShow('{{ room.code }}', '{{ room.id }}')"
            >Leave Show</a
          >
          <a href="/rooms/create">New Game</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
      <div class="cue-light">
      </div>
    </div>

    <script src="https://cdn.socket.io/4.4.1/socket.io.js"></script>
    <script>
      var socket = io();
      // Event handler for successful connection
      socket.on("connect", function () {
        console.log("Connected to server.");
      });
      const questionTextElement = document.getElementById("questionText");
      const userAnswerElement = document.getElementById("inp");
      const submitAnswerBtn = document.getElementById("buttons");
      const userId = "{{ user_id }}";

      // Join a room
      console.log("Joining room:", "{{ room.code }}"); // Add this line for debugging
      socket.emit("join_room", {
        room_code: "{{ room.code }}",
        room_id: "{{ room.id }}", // Room ID is obtained from the server-side Flask variable
      });

      // Event handler for disconnection
      socket.on("disconnect", function () {
        console.log("Disconnected from server.");
      });
      

      // Event handler for updates to the list of connected users
      socket.on("connected_users_update", function (data) {
        console.log("Received connected_users_update event:", data); // Added for debugging

        console.log("Updated list of connected users:", data.users);
      });

      // Event handler for updating lights, changes background colour of cue light, colour is sent as a hex code, needs to only update if user ID is the same as th user id on client side
      socket.on("light_status_updated", function (data) {
        console.log("Received light_status_updated event:", data); // Added for debugging
        console.log("Updated light status:", data.light_status);
        if (data.user_id == userId) {
          document.body.style.backgroundColor = data.light_status;
        }
      });
      

      //event handler for redirecting to show page
      socket.on("start_show", function (data) {
        window.location.href = data.url;
      });
      socket.on("redirect_to_active", function (data) {
        window.location.href = data.url;
      });

      // Event handler for errors
      socket.on("error", function (data) {
        console.log("Error:", data.message);
      });
    </script>
  </body>
</html>
